* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

main {
    margin: 0 20px;
}

.logo {
    height: 50px;
}

nav, nav ul {
    display: inline;
    float: right;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    text-decoration: underline;
}

/* Mission Block */

#mission {
    background-image: url(../images/img-mission-background.webp);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 69px;
    margin-bottom: 40px;
}

#mission div {
    background-color: black;
    text-align: center;
    padding: 20px 0; 
    align-items: center;
    position: relative;
    top: 285px;
}

#mission h2 {
    margin-bottom: 20px;
}

/* Tea Of Month */

#tea-of-month {
    text-align: center;
    margin: 40px 0;
}

#tea-of-month > div {
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.tea-list div {
    flex-basis: 300px;
    padding: 10px;
    text-align: center;
}

.tea-list img {
    max-height: 200px;
    margin-bottom: 10px;
}

#tea-of-month h2, #tea-of-month h4 {
    margin-bottom: 10px;
}

/* Locations */

#locations {
    background-image: url(../images/img-locations-background.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 40px 0;
}

#locations h2 {
    text-align: center;
    padding-top: 40px;
}

.location-list {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.location-list div {
    flex-basis: 300px;
    margin: 7.5px 40px;
    text-align: center;
    background-color: black;
}


.location-list div *{
    margin: 15px 0;
}

/* Footer */

footer {
    min-height: 200px;
    text-align: center;
    margin: 0 20px;
}

footer * {
    margin: 20px 0;
}

.copyright {
    text-align: left;
}
